* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif, Helvetica;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    border-bottom: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px 20px;
}

.metroclor {
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}

.logo {
    display: flex;
    border: 10px;
    width: 75px;
}

.logosec {
    display: flex;    
    width: 75px;
    margin-top: 25px;
    margin-bottom: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 69, 0);
}

.clor {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 255);
}

main {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 0px 0px;
}


.edificio {
    height: 30vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(../img/construccion-edificio.jpg);
    background-size: cover;
    background-position: center;
}

.durlock {
    height: 30vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(../img/placas-durlock.jpg);
    background-size: cover;
    background-position: center;
}

.piscinas {
    height: 30vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(../img/piscinas-fondo.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    margin: 0px;
    padding: 0px;
    border: 5px solid rgb(37, 37, 37);
    text-align: center;
}

.redes a{
    font-size: 30px;
    color: rgb(255, 69, 0)
}

.redes-clor a{
    font-size: 30px;
    color: rgb(0, 0, 255)
}

form {
    background-color: rgb(255, 102, 0);
    height: 700;
    width: 100;
}

fieldset {
    display: grid;
}

nav a:hover {
    color: rgb(255, 255, 255)
}

@media (max-width:700px){
    header{
    flex-direction: column;
    }
}