footer {
    margin: 0px;
    padding: 0px;
    border: 5px solid rgb(37, 37, 37);
    text-align: center;
  }
  
  .redes a {
    font-size: 30px;
    color: rgb(255, 69, 0);
  }
  
  .redes-clor a {
    font-size: 30px;
    color: rgb(0, 0, 255);
  }
  