* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif, Helvetica;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin: 0px;
    box-sizing: border-box;
}